bootstrap.min.css 
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background: linear-gradient(to right, #ffe5b6, #FFC0CB, #FF69B4);
    background-color: hsl(240, 8%, 4%);
    overflow-x: hidden;
}

.section-padding {
    padding: 70px 0;
}


.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


.home .carousel-item{ 
    background-position: center;  
    position:relative;
    min-height: 100vh;
    background-size: cover;
    z-index: 1;
    }
   
.home .carousel-item:before{
    content: '';  
    position: absolute;
    Left:0;
    top:0;
    width: 100%;  
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
 }
 .home .carousel-item .container{
    position: absolute;
    Left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.home .carousel-item h2{ 
    color: #ffffff;  
    font-size: 80px;
    margin:0 0 10px;
    opacity: 0;
   
    }
   
    .home .carousel-item p{
        font-size: 30px;
        margin:0;  
        color: #eeeeee;
        opacity: 0;
   
    }
   
    .home .carousel-item.active h2{ 
        animation: fadeInLeft 0.5s ease forwards;
    }
   
    .home .carousel-item.active p{ 
        animation: fadeInRight 0.5s ease forwards;
   
    }


 .leermas{
    display: block;
    background-color: #5271FF;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
 }



 @keyframes slideInLeft {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}
/* Animación de cambio de color para el título */
@keyframes colorChange {
  0% { color: #ff00ff; }
  50% { color: #00ff00; }
  100% { color: #ff00ff; }
}

.h2-color-change {
  animation: colorChange 3s infinite;
}

.text-slide-up {
  animation: slideInUp 1.5s ease-in-out;
}

.img-fluid {
  animation: slideInLeft 1s ease-in-out;
}
@keyframes slideInUp {
from {
    transform: translateY(50px);
    opacity: 0;
}
to {
    transform: translateY(0);
    opacity: 1;
}
}


    @keyframes fadeInLeft{

        0%{
       
        opacity: 0;  
        transform: translateX(-30px);
       
        }
       
        100%{
       
        opacity: 1;  
        transform: translateX(0px);
    }
       
        }
       
 @keyframes fadeInRight{
       
        0%{
       
opacity: 0;
transform: translateX(30px);
    }
    100%{
       opacity: 1;
       transform: translateX(0px);
        }
    }

    .paused * { 
      animation-play-state: paused;
    }

    .home .carousel-controls {
        position: absolute;
        left: 50%;
        bottom: 40px;
        z-index: 10;
        transform: translateX(-50%);
    }
    .home .carousel-indicators {
        position: relative;
        margin: 0;
        list-style: none;
    }
    .home .carousel-indicators li{
        height: 70px;
        width: 70px;
        margin: 0 5px;
        border-radius: 50px;
        background-position: center;
        background-size: cover;
        border: 3px solid transparent;
        transition: all 0.3s linear ease;
    }
    .home .carousel-indicators li.active{
        border-color: #ffffff;
        transform: scale(1.2);
    }

    .home .carousel-control-next,
    .home .carousel-control-prev{
        height: 60px;
        width: 60px;
        opacity: 1;
        z-index: 3;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        transition: all 0.3s ease;
    }
    
    .home .carousel-control-next:hover,
    .home .carousel-control-prev:hover{
        box-shadow: 0 0 10px #ffffff;
    }
    .home .carousel-control-next img,
    .home .carousel-control-prev img{
        width: 30px;
    }
    .home .carousel-control-next{
        right: -90px;
    }

    .home .carousel-control-prev {
        left: -90%;
    }

    @media(max-width: 767px){
        .home .carousel-control-next,
        .home .carousel-control-prev{ 
            display: none;
       } 
       .home .carousel-indicators li{
       height: 60px;  
       width: 60px;
       } 
       .home .carousel-item h2{ 
        font-size: 45px;
       }
       
        .home.carousel-item p{
       
        font-size: 22px;
    }
}
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
  }
  
  .team {
    padding: 80px 0;
  }
  
  .team-items {
    display: flex; 
    gap: 30px;
  }
  
  .team-item {
    position: relative;
    line-height: 1.5;
    color: hsl(0, 0%, 100%);
  }
  
  .team-item img {
    width: 100%;
    height: auto;
  }
  
  
  .team-item .info {
    background-color: hsla(0, 0%, 100%, 0.05);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 160px;
    width: 100%;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height 0.6s ease;
  }
  
  .team-item h5 {
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 600;
  }
  
  .team-item p {
    text-transform: capitalize;
  }
  
  .team-item .social {
    margin-top: 18px;
  }
  
  .team-item .social a {
    height: 40px;
    width: 40px;
    border: 1px solid hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 5px;
  }

  .row>div{
    margin-bottom: 20px;
  }

  #personajes img{
    height: 200px;
    object-fit: cover;
    margin: auto;
    margin-top: 20px;
  }

  .contenedor-frases{
    font-family: 'Edu TAS Beginner', cursive;
    padding:20px;
  }

  .fucsia{
    color:#CA4776;
    transform: rotate(3deg);
    width: 36%;
    margin-bottom: 42px;
    margin: auto;
    text-align: center;
  }
  .negro{
    color: #160F06;
    transform: rotate(-10deg);
    width: 398px;
  }

  .verde{
    color:#1C961D;
    text-align: right;
    width: 40%;
    margin-left: auto;
  }

  .azul{
    color: #392FA8;
    transform: rotate(-7deg);
    font-size: 45px;
  }


  .violeta{
    color:#7C285E;
    text-align: right;
  }

  .rojo{
    color: #FF3131;
    text-align: center;
    margin-top: 20px;
  }

  .animate__animated.animate__backInDown {
    --animate-duration: 2s;
  }
  .animate__animated.animate__backInRight {
    --animate-duration: 3s;
  }
  .animate__animated.animate__bounceInLeft {
    --animate-duration: 4s;
  }
  .animate__animated.animate__flipInY {
    --animate-duration: 5s;
  }
  .animate__animated.animate__rotateInUpLeft {
    --animate-duration: 6s;
  }

  #suscribir{
    text-align: center;
    background-color: #392FA8;
    color: white;
    padding: 10px;
  }

  #suscribir button{
    border:none;
    background: linear-gradient(to right, #ffe5b6, #FFC0CB, #FF69B4);
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow:  3px 5px rgba(0,0,0,0.5);

  }

  iframe{
    width: 100%;
  }
  .modal {
  --bs-modal-width: 700px;
  }
  #suscribir button:hover{
    background: linear-gradient(to right,#FF69B4 , #FFC0CB, #ffe5b6);
  }

  .hidden{
    display: none;
  }

  @media (min-width: 992px) {
    .team-item .info {
      height: 100%;
    }
    .team-item:hover .info {
      height: 160px;
    }
  }
  
  @media (max-width: 575px) {
    .team-items {
      flex-direction: column;
    }
  }
  
  .back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #392FA8;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    z-index: 999;
}

.back-to-top.show {
    display: block;
}
